
/*Fuentes importadas*/
@font-face{
    font-family: "Metropolian";
    src: url(../css/MixCarpathia.ttf);
}
/*Cuerpo de la pagina*/
body{
    width: auto;
    height: auto;
    font-family: "Metropolian";
    color: #FFFFFF;
    font-size: 14px; 
    background-image: url(../images/fondoPrincipal.jpg);    
    background-size: 100%; 
}
.container{
    width: auto;
    padding: 0 15px;
}
.well{
    height: auto;
    background: none;
    margin-top: 30px;
    border: none;
    opacity: 0.95;
}
section.container{
    min-height:430px;
}
.principal{
    margin: 0px 0 0 80px;
}
/*Cabezera*/
header.container{
    width: 75%;    
}
header > .jumbotron{
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header > .navbar-default{
    margin-bottom: 50px;
}
.jumbotron{
    background: none;    
}
#logoCabecera{
    width: 130px;
    height: 105px;
    margin-top: 10px;
    float: left;
}

/*Barra navegacion*/
.nav, .navbar-default{
    background: none;
}
header > .navbar > .nav-header{
    background: #FFFFFF;
    color: black;
}
.nav-header > li > a{
    font-size: 18px;
    color: black;
}
.nav-header > li > a:link{
    color: black;
}
.nav-header > li > a:hover{
    background: #43D3DE;
    color: #FFFFFF;
}
/*Titulos,descripciones...*/
.titulo_incio{
    font-size: 100px;
    margin-left: 18px;
    margin-top: 15px;
}
.titulos{
    font-size: 22px; 
}
.subtitulos{ 
    font-size: 20px; 
    font-weight: bold;
}
.descripciones{
    font-size: 16px; 
}
.eslogan{
    font-size: 40px; 
}
input, textArea{
    color: #1D2323;
}
/*Logotipos*/
#logoPrincipal{
    width: 180px;
    height: 155px;
}
/*Botones general*/
.btn{
    border-radius: 10px 10px;
    font-size: 14px;
}
.btn:hover{
    background:#43D3DE;
    color: #FFFFFF;
}
/*Enlaces de las paginas*/
a{
    color: #43D3DE;
}
a:hover, a:focus{
    color: #FFFFFF;
}
/*Migas de pan*/
.breadcrumb {
   background:none;
   margin-top: -26px;
   font-size:16px;
}
.breadcrumb > a {
   color: #43D3DE;
}
.breadcrumb > .active {
    color: #FFFFFF;
}
/*Footer*/
footer{
    position: relative;
    margin-top: 50px;
    bottom: 0; 
}
.nav-footer > li{
    width: 325px;    
    font-size: 16px;
}
.nav-footer > li > a{
    color: #FFFFFF;
}
.nav-footer > li >a:hover{
    background: none;
    color: #43D3DE;
    text-decoration: none;
}
/*Tags HTML*/
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}
hr{
    background-color: #FFFFFF;
    background-size: 2px;
}
/*INICIO*/
.btn-inicio{
    font-size: 25px;    
    width: 200px;
}
#bienvenida{
    margin-top: 120px;
    text-align: left;
}
/*REGISTROS --> FORMULARIOS*/
/*Formularios*/
.form-control{
    background-color: #E6E6E6;
    width: 300px; 
}
.form-group {    
    margin-top: 30px;
    margin-left: 520px;
    font-size: 15px;
    color:white;
}
.definicion{
    padding: 10px 0 10px 0;
    font-size: 15px;
}
/*PRINCIPALES USUARIO/EMPRESA*/

 #ofertas > div > img{
    width: 220px;
    height: 180px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
        }
        
.ofertas{
    padding: 0 70px 0 70px;    
}
.espacioOfertas{
    margin-left: 40px;
}
.btn-ofertas{
    margin-top:15px;
    font-size: 17px;    
    width: 100px;
}
/*DESCRIPCION/COMPRA EVENTO*/
.panel-default > .panel-heading{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #43D3DE;
}
.panel-body {    
    color:black;
    background-color: #FFFFFF;
}
#tablaResumen{
    font-size: 16px;
}
#tablaResumen td{
    padding-bottom: 8px;
}
#tablaResumen label{
    font-weight: normal;
    margin: 0px 10px 0px 5px;
}
#tablaResumen  p{
    margin-bottom: 0px;
    font-weight: bold;
}
.btn-compra{
    margin-left: 40px; 
    font-size: 20px; 
    width: 150px; 
}
#precioOferta  p{
    margin-bottom: 0px;
}
#datosOferta a{
    border: 1px solid #FFFFFF;
}
#datosOferta a:hover{
    background: #43D3DE;
    color: #FFFFFF;
}
#imgDescrip{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
/*COOKIES*/
#avisoCookies{
    position:fixed;
    width:100%;
    height:0px;
    top:0px;
    right:0px;
    z-index: 1;
    padding-top: 3px;
    background: black;    
    overflow: hidden;
    transition: height 1s;
}
#avisoCookies #texto{
    width:100%;
    position:absolute;
    text-align: center;
}
.btn-cookies{   
    width: 70px;
    height: 25px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0 0 0 0;
}
