
/*Fuentes importadas*/
@font-face{
    font-family: "Metropolian";
    src: url(../css/MixCarpathia.ttf);
}
/*Cuerpo de la pagina*/
body{
    width: auto;
    height: auto;
    font-family: "Metropolian";
    color: #FFFFFF;
    font-size: 14px; 
    background-image: url(../images/fondoPrincipal.jpg);    
    background-size: 100%; 
}
.container{
    width: auto;
    padding: 0 15px;
}
.well{
    height: auto;
    background: none;
    margin-top: 30px;
    border: none;
    opacity: 0.95;
}
.principal{
    margin: 0px 0 0 100px;
}
/*Barra navegacion idioma*/
.navbar, .navbar-default{
    background: none;
}
.navbar-default{
    background-color: #E6E6E6;
}
/*Titulo,descripcion,logo...*/
.titulo{
    font-size: 100px;
    margin-left: 18px;
    margin-top: 50px;
}
.descripcion{
    margin: -35px 0 30px 123px;
    font-size: 18px; 
}
.eslogan{
    font-size: 40px; 
}
#logoPrincipal{
    width: 180px;
    height: 155px;
}
/*Registro*/
.definicion{
    padding: 10px 0 10px 0;
    font-size: 15px;
}
/*Botones para el registro*/
.btn-inicio{
    width: 80px;
    height: 80px;
    border-radius: 10px 10px;
    padding-top: 5px;
}
.btn-default{
    margin: 1px;
    width: 200px;
    font-size: 22px;
    
}
/*Enlaces de las paginas*/
a{
    color: aqua;
}
a:hover, a:focus{
    color: #FFFFFF;
}
/*Footer*/
#footer{
    position: relative;
    bottom: 0;    
}
#navFooter{
    width: auto;
    height: 50px; 
}
#navFooter a{
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 50px;
}
hr{
    background-color: #FFFFFF;
    background-size: 2px;
}


#change{
    background-color: #FFFFFF;
}
.form-control{
    background-color: #E6E6E6;
    width: 300px; 
}
#inicio, #registro{
    font-size: 13px;
}
.form-group {    
    margin-top: 30px;
    margin-left: 520px;
    font-size: 15px;
    color:white;
}
.panel-body {    
    color:black;    
}
#desBienvenida{
    font-size: 18px;
    margin-top: 10px;
}
h1{
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}
h4, h2{
    color: #FFFFFF;
}
#ident{
    margin-top: 120px;
}
#bienvenida{
    margin: 20px;
    margin-top: 120px;
}
.btn-default{
    height: auto;
    background-image: none;
    border-color: #FFFFFF;
    font-size: 25px;
    color: black;
}