@font-face{
    font-family: "Metropolian";
    src: url(../css/MixCarpathia.ttf);
}
#change{
    background-color: #FFFFFF;
}
.principal{
    margin: 0px 0 0 100px;
}
.color{
    color: #FFFFFF;
    font-size: 14px; 
}
.titulo{
    font-size: 100px;
    margin-left: 5px;
    margin-top: 50px;
}
.descripcion{
    margin: -50px 0 30px 45px;
    font-size: 18px; 
}
.eslogan{
    font-size: 33px; 
}
.btn-inicio{
    width: 80px;
    height: 80px;
}
.logo{
    margin: 25px 0 0 75px;
}
body{
    background-image: url(../images/fondoPrincipal.jpg);
    width: auto;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    font-family: "Metropolian";
    z-index: 0;
}

.navbar, .navbar-default{
    background: none;
}

.container{
    width: auto;
    padding: 0 15px;
}
.form-horizontal{
    color: #FFFFFF;
}
.form-control{
    background-color: #E6E6E6;
    width: 300px; 
}
.primera{
    color: #ffffff;
}

#navFooter{
    width: auto;
    height: 50px;   
}
.navbar-default{
    background-color: #E6E6E6;
}
a{
    color: aqua;
}
#navFooter a{
    color: #FFFFFF;
}
.well{
    height: auto;
    background: none;
    margin-top: 30px;
    border: none;
    opacity: 0.95;
}

h4, h2{
    color: #FFFFFF;
}
.bienv{
    margin: 20px;
    margin-top: 100px;
}
#inicio, #registro{
    font-size: 13px;
}
.btn-default{
    margin: 1px;
    width: 200px;
    font-size: 20px;
}
#footer{
    position: relative;
    bottom: 0;
}
hr{
    background-color: #FFFFFF;
    background-size: 2px;
}


